<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% include head.html %}
  <script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@type":"Organization",
    "name":"{{ site.title }}",
    "url":"{{ site.url }}",
    "logo":"{{ '/assets/logo.png' | absolute_url }}"
  }
  </script>
</head>
<body>
  <header class="site">
  <div class="inner">
    <a class="brand" href="{{ '/' | relative_url }}">
      <img src="{{ 'https://cdn.qriscloud.asia/files/images/aladin66/logo-aladin66.png' | relative_url }}" alt="{{ site.title }}" class="logo">
      <span class="badge">LIVE</span>
    </a>
    <nav class="nav">
      <a href="{{ '/tentang/' | relative_url }}">Tentang</a>
      <a href="{{ '/kontak/' | relative_url }}">Kontak</a>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
    </nav>
  </div>
</header>

  <div class="container">
    {% if page.layout == 'post' %}
      <div class="hero">
        <p class="lead">{{ page.description | default: site.description }}</p>
      </div>
    {% endif %}

    <main>{{ content }}</main>
  </div>

  <footer class="site">
    <div class="container">© {{ site.time | date: "%Y" }} {{ site.title }} · All rights reserved</div>
  </footer>
</body>
</html>
